
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: hsl(0, 4%, 49%);
    border: 10px solid #213a22; 
    padding: 20px;
    box-sizing: border-box;
}

header {
    background: #61543a;
    color: #d0ceee;
    padding: 10px 20px;
    text-align: center;
}

h2 {
  color: #333;
  text-decoration: underline;  
}

main {
    padding: 100px;
    flex:auto;
    background-color: #e6dee4;

}

footer {
    text-align: center;
    padding: 1px 2px;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 1px;
    width: 100%;
}

.content {
    display: flex;
    align-items: center;
    margin: 50px 0px 50px 0px ;
}

.content img {
    width: 300px; 
    height: auto; 
    margin: 10px;
}

.left {
    flex-direction: row; 
}

.right {
    flex-direction: row-reverse; 
}